T1

In [ ]:
n = int(input())
print(2*n)

5
10

T2

In [ ]:
a, b  = map(float, input().split())
r = a/2
print(f'{a * b - r**2 * 3.14:.2f}')

3 4
4.93

T3

In [5]:
c = input()
if ord(c) >= ord('A') and ord(c) <= ord('Z'):
  print(chr(ord(c) + (ord('a') - ord('A'))))
else:
  print(chr(ord(c) + (ord('A') - ord('a'))))

a

T4

In [2]:
c = input()
if (ord(c) >= ord('a') and ord(c) <= ord('z')) or (ord(c) >= ord('A') and ord(c) <= ord('Z')):
  print(f'{c + " la ki tu alphabet"}')
else:
  print(f'{c + " khong phai la ki tu alphabet"}')

t la ki tu alphabet

T5

In [ ]:
A = input()
if A == 'A':
  print("z")
else:
  print(chr(ord(A.lower()) - 1))

A
z

T6:

In [ ]:
import math
a, b, c = map(float, input().split())
if a + b > c and b + c > a and c + a > b:
  s = (a + b + c)/2
  print(f'{math.sqrt(s * (s - a) * (s - b) * (s - c)):.1f}')
else:
  print("Khong phai 3 canh cua tam giac")

3 4 5
6.0

T7

In [ ]:
s = input()
print(s[4])
print(s[8])

vrnvgrngverngvrignirgr
g
v

T8

In [15]:
def converter(num: int) -> int:
  result = 0
  cnt = 1
  if num <= 0:
    return 0
  
  diff = [0, 50, 100, 200, 300, 400, 1000]
  cost = [0, 1984, 2050, 2380, 2998, 3350, 3460]

  while cnt < 6:
    if num <= diff[cnt]:
      result += (num - diff[cnt-1]) * cost[cnt]
      return result
    else:
      result += (diff[cnt] - diff[cnt-1]) * cost[cnt]
    cnt += 1

  result += (num - diff[5]) * cost[6]
  return result

name = input("Ten chu ho: ")
prev = int(input("Chi so thang truoc: "))
now = int(input("Chi so thang nay: "))
print(f'{"Ho va ten: " + name}')
print(f'Tien phai tra la: {((converter(now-prev)) * 1.08):.0f}')

Ho va ten: r
Tien phai tra la: 1855505

BT

1.

In [ ]:
num = int(input())