W2A1

In [ ]:
print("Hello World!")

Hello World!

W2A2

In [ ]:
name = input("Enter your name: ")
print("Hello " + name + "!")

Enter your name: sth
Hello sth!

W2A3

In [ ]:
a, b = map(int, input().split())
print(a + b)
print(a - b)
print(a * b)
print(a // b)
print(a % b)
print(a / b)

3 4
7
-1
12
0
3
0.75

W2A4

In [ ]:
a1, b1, c1, a2, b2, a3 = map(int, input().split())
avg = (a1 + b1 + c1 + (a2 + b2) * 2 + a3 * 3)/10
print(f'{avg:.1f}')

9 8 2 4 6 10
6.9

W2A5

In [ ]:
a, b = map(int, input().split())
result = a**b
print(result)

2 3
8

W2A6

In [ ]:
char = input()
print(ord(char))
print(chr(ord(char) - 32))

t
116
T

W2A7

In [ ]:
print("A = ",  ((13 ** 2) * 3) + 5)
print("B = ", 13**2*3 + 5)

A =  512
B =  512

W2A8

In [ ]:
temperature = float(input())
print(f'{(temperature * (9/5) + 32):.2f}')

9
48.20

W2A9

In [ ]:
price = float(input())
print(f'{price * (1 + 0.3 + 0.1) + 10: .2f}')

10
 24.00

W2A10

In [ ]:
names = []
names = input().split()
for i in names:
  print(i)

Bob Alice Helen
Bob
Alice
Helen

W2A11

In [ ]:
hour, min = map(int, input().split())
print(f'{hour * 60 * 60 + min * 60}')

1 0
3600

W2A12

In [ ]:
n = int(input())
print(f'{n ** 2 * 6}')

3
54

W2A13

In [ ]:
a, b = map(int, input().split())
print(f'{(a * b) % 10}')

3 4
2

W2A14

In [ ]:
a = 12
b = 56
a, b = b, a
print(a, b)

56 12

W2A16

In [ ]:
print("Spring\nSummer\nAutumn\nWinter")

Spring
Summer
Autumn
Winter

W2A17

In [ ]:
for i in range(3):
  print("*", end = "")
  for j in range(i):
    print("**", end = "")
  print("\n", end = "")

*
***
*****

W2A18

In [ ]:
print("### # #   ### ### ")
print(" #  #  #   #   #  ")
print(" #  #   #  #   # ")
print(" #  #  #   #   #")
print(" #  # #    #   #  ")

### # #   ### ###
 #  #  #   #   #
 #  #   #  #   #
 #  #  #   #   #
 #  # #    #   #

W2A19

In [ ]:
print("Monday\nTuesday\nWednesday\nThursday\nFriday\nSaturday\nSunday ")

Monday
Tuesday
Wednesday
Thursday
Friday
Saturday
Sunday

W2A20

In [ ]:
print("January")
print("February")
print("March")
print("April")
print("May")
print("June")
print("July")
print("August")
print("September")
print("October")
print("November")
print("December")

January
February
March
April
May
June
July
August
September
October
November
December

W2A21

In [ ]:
for i in range(10):
  print("Hello, world")

Hello, world
Hello, world
Hello, world
Hello, world
Hello, world
Hello, world
Hello, world
Hello, world
Hello, world
Hello, world